@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  --dark: #020617;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100dvh;
  /* background: var(--dark); */
}

.card_container {
  --X: 0deg;
  --Y: 0deg;
  --Z: 0deg;
  --angleX: 15deg;
  --angleY: 20deg;

  position: relative;
}

.card_hover {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.card_hover .part {
  width: 20%;
  height: calc(100% / 3);
  background-color: transparent;
}

.card_container:has(.part-1:hover) {
  --X: var(--angleX);
  --Y: calc(var(--angleY) * -1);
}
.card_container:has(.part-2:hover) {
  --X: var(--angleX);
  --Y: calc((var(--angleY) / 2) * -1);
}
.card_container:has(.part-3:hover) {
  --X: var(--angleX);
}
.card_container:has(.part-4:hover) {
  --X: var(--angleX);
  --Y: calc(var(--angleY) / 2);
}
.card_container:has(.part-5:hover) {
  --X: var(--angleX);
  --Y: var(--angleY);
}
.card_container:has(.part-6:hover) {
  --Y: calc(var(--angleY) * -1);
}
.card_container:has(.part-7:hover) {
  --Y: calc((var(--angleY) / 2) * -1);
}
.card_container:has(.part-9:hover) {
  --Y: calc(var(--angleY) / 2);
}
.card_container:has(.part-10:hover) {
  --Y: var(--angleY);
}
.card_container:has(.part-11:hover) {
  --X: calc(var(--angleX) * -1);
  --Y: calc(var(--angleY) * -1);
}
.card_container:has(.part-12:hover) {
  --X: calc(var(--angleX) * -1);
  --Y: calc((var(--angleY) / 2) * -1);
}
.card_container:has(.part-13:hover) {
  --X: calc(var(--angleX) * -1);
}
.card_container:has(.part-14:hover) {
  --X: calc(var(--angleX) * -1);
  --Y: calc(var(--angleY) / 2);
}
.card_container:has(.part-15:hover) {
  --X: calc(var(--angleX) * -1);
  --Y: var(--angleY);
}

.card {
  --light: #d9d9d9;
  --dark: #1f1f1f;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 1.5rem;
  width: 15rem;
  background-color: rgb(172, 250, 233);
  background-image: linear-gradient(135deg, rgba(172, 250, 233, 1) 0%, rgba(213, 143, 235, 1) 50%, rgba(242, 126, 241, 1) 100%);

  border-radius: 0.5rem;

  transform-origin: center;
  transform: rotateX(var(--X)) rotateY(var(--Y)) rotateZ(var(--Z));
  box-shadow: 0 0 0.25rem #2b2b2b;
  transition: transform 0.3s ease-in-out;
}

.say-hi {
  position: relative;

  width: 100%;
  height: 2rem;
  background-color: transparent;
}

.icon_say-hi {
  position: absolute;
  bottom: 0;
  left: -0.5rem;

  width: 3rem;

  opacity: 0;
  transform-origin: 60% 90%;
  transform: translate(-15deg);
  filter: drop-shadow(0 0 0.5rem #2b2b2b);
  transition: all 0.2s ease-in-out;
}

.card_container:hover .card .icon_say-hi {
  width: 3.5rem;

  opacity: 1;
  animation: say-hi 0.35s linear infinite alternate;
}

@keyframes say-hi {
  to {
    transform: rotate(25deg);
  }
}

.title {
  overflow: clip;

  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--dark);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.paragraph {
  font-size: 0.5rem;
  font-weight: 600;
  color: var(--dark);
}
